<<<<<<< HEAD
<body id="session">
<h1>Enter Vault</h1>
=======

<h1>Access Portal</h1>
>>>>>>> 7bb5879c7a9d2f7021c1eed480248fdcc8a5b83a

<div class="outer-container">
  <div class="container">
  <div class="header">
	<span class="text">Member username and password</span>
  </div>
  <div class="padding">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :username, :class => "input" %>
      <%= f.text_field :username %>

      <%= f.label :password, :class => "input" %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up!", signup_path %></p>
  </div>
  </div>
</div>
<<<<<<< HEAD
</body>
=======


>>>>>>> 7bb5879c7a9d2f7021c1eed480248fdcc8a5b83a
