
<body>
<h1 class="font">Enter Vault</h1>




<div class="outer-container">
  <div class="container">
  <div class="header">
	<span class="text">Member username and password</span>
  </div>
  <div class="padding">
   
    <%=flash.now[:error]%>   
    
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :username, :class => "input" %>
      <%= f.text_field :username %>

      <%= f.label :password, :class => "input" %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up!", signup_path %></p>
  </div>
  </div>

</body>




