<body id="session">

<div class="outer-container">
  <div class="container">
  <div class="header">
	<span class="head">Register Here</span>
  </div>
  <div class="pad">
    <%= form_for(@user) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %><br>

      <%= f.label :email %>
      <%= f.text_field :email %><br>

      <%= f.label :password %>
      <%= f.password_field :password %><br>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %><br>

<<<<<<< HEAD
=======
      <%= f.label :admin2, "Make Admin" %>
      <%= f.check_box :admin2 %>

      <% if @user.errors.full_messages.any? %>
      <% @user.errors.full_messages.each do |error_message| %>
      <%= @user.errors.full_messages.first if @user.errors.any? %>
      <%end%>
      <%end%>

>>>>>>> 7bb5879c7a9d2f7021c1eed480248fdcc8a5b83a
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
   </div>
  </div>
</div>
</body>
