<body id = 'terminalbody'>
<div>
	<center>
      <div id = 'displaytitlebox'>
        <h2 id = 'maindisplaytitle'>BANK CENTRAL</h2>
      </div>
      <div class = 'maindisplay'>
      
        <div id = 'openexistingloan' class="bw pic"><%=link_to image_tag('folder.png'),'/existingloansfile'%>Open Existing Loan
        </div>
        <div id = 'loanrules' class="bw pic"><%=image_tag('Bank.png')%>Rules and Regulations
        </div>
        <div id = 'createloan' class="bw pic"><%=image_tag('contract_icon.png')%>Create Loan
        </div>
        <div id = 'clientlist' class="bw pic"><%=image_tag('client.png')%>client list
        </div>
        <div id = 'graphs' class="bw pic"><%=image_tag('piechart.png')%>graphs
        </div>
	</div>
      
    </center>  
</div>
<body>
