<body id = 'terminalbody'>
	<center>
      <div id = 'displaytitlebox'>
        <h2 id = 'maindisplaytitle'>CLIENT TERMINAL</h2>
      </div>
      <div class = 'maindisplay'>
     
        <div id = 'loan1'><%=link_to image_tag('loanapp.png'),'/existingloansfile'%>Loan Application
        </div>
        <div id = 'loan2'><%=image_tag('creditreport.png')%>Credit Report
        </div>
        <div id = 'loan3'><%=image_tag('insurance.png')%>Insurance
        </div>
        <div id = 'loan4'><%=image_tag('contract.png')%>Purchase Contract
        </div>
        <div id = 'loan5'><%=image_tag('mortgage.png')%>Mortgage Documents
        </div>
        <div id = 'legal'><%=image_tag('legal.png')%>Legal Documents
        </div>
       </div>
    </center>  
</div>