<body id = 'terminalbody'>
<div>
    <center>
      <div id = 'displaytitlebox'>
        <h2 id = 'maindisplaytitle'>CURRENT LOANS INDEX</h2>
      </div>
      <div class = 'currentloansindexmaindisplay'>
          <table class = 'table'>
  			    <% @loans.each do |loan| %>
    		    <tr class = "<%= cycle('listlineodd', 'listlineeven')%>">
              <td class = 'loandata'>
                <dt>Borrower Name&nbsp&nbsp<%= loan.name_of_borrower%></dt>
     			      <dt>Loan Type&nbsp&nbsp<%= loan.loan_type%></dt>
                <dt>Interest Rate&nbsp&nbsp<%= loan.loan_interest_rate%>%</dt>
      			     
              
              <div class = 'list'>
                <%=link_to 'Show', loan%>
                <%=link_to 'Edit', edit_loan_path(loan)%>
                <%=link_to 'Delete', loan_path(loan), :method => :delete, data: {confirm: 'Are You Sure?'}%>
              </td>
              </div>
            </tr>
            <% end %>
          </table>
        </div> 
      </div>
      
    </center>  
</div>
<body>

